<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">EDIT Task</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Title" value="" ng-model="$parent.currentTask.title">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" value="" ng-model="$parent.currentTask.description">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="category-edit">Category</label>
                            <select class="form-control" id="category-edit" ng-model="$parent.currentTask.category">
                                <option value="NEW">Create new category</option>
                                <option value="{{category.id}}" ng-repeat="category in $parent.allCategories">{{category.title}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 well" ng-show="showCreateCategory()">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>New Category Title</label>
                                    <input type="text" class="form-control" placeholder="New Category" value="" ng-model="$parent.newCategory.title">
                                </div>
                            </div>

                            <div class="col-md-4" style="padding-top: 4%">
                                <button type="button" class="btn btn-warning btn-fill" ng-click="createCategory()">Create Category</button>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="priority-edit">Priority</label>
                            <select class="form-control" id="priority-edit" ng-model="$parent.currentTask.priority">
                                <option value="LOW">Low</option>
                                <option value="NORMAL">Normal</option>
                                <option value="HIGH">High</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer" style="text-align: left">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button ng-show="$parent.currentTask.title && $parent.currentTask.description && $parent.currentTask.category && $parent.currentTask.priority" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editTask()">Edit Task</button>
            </div>
        </div>
    </div>
</div>