<div class="sidebar" data-color="azure" data-image="/assets/img/sidebar-8.png">
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Menu
            </a>
        </div>

        <ul class="nav">

            <li ui-sref="allTasks" ui-sref-active="active">
                <a>
                    <i class="pe-7s-note2"></i>
                    <p>All Tasks</p>
                </a>
            </li>

            <li ui-sref="tasklists" ui-sref-active="active">
                <a>
                    <i class="pe-7s-notebook"></i>
                    <p>TaskLists</p>
                </a>
            </li>

            <li ui-sref="categories" ui-sref-active="active">
                <a>
                    <i class="pe-7s-ticket"></i>
                    <p>Categories</p>
                </a>
            </li>

            <li ui-sref="about" ui-sref-active="active">
                <a>
                    <i class="pe-7s-coffee"></i>
                    <p>About</p>
                </a>
            </li>
        </ul>
    </div>
</div>