<div class="card">
  <div class="card-block">
    <h1 class="display-4">{{sectionName}}</h1>
    <br>
    <div class="row social-row">

      <a class="col-md-3 social-item youtube" href="https://www.youtube.com/watch?v=JaD2Dj7OD1U" target="_blank">
        <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
      </a>

      <a class="col-md-3 social-item facebook" href="https://www.facebook.com/profile.php?id=100010729443010" target="_blank">
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
      </a>

      <a class="col-md-3 social-item github" href="https://github.com/matheusps/lab2-si-todo-list-angular2" target="_blank">
        <i class="fa fa-github fa-5x" aria-hidden="true"></i>
      </a>

      <a class="col-md-3 social-item linkedin" href="https://www.linkedin.com/in/matheus-p-silva-898088a6?trk=hp-identity-photo" target="_blank">
        <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
      </a>

    </div>

  </div>
</div>
