<!--NAVBAR-->
<div ng-include="'app/components/task-list-list-cmp/partials/_navbar.html'"></div>

<div class="content" style="margin-top: 20px;">
    <div class="container-fluid">
        <dtable options="options" rows="allTaskLists" class="material">
            <column name="Title" prop="title"></column>
            <column name="Options">

                <button type="button" rel="tooltip" title="Go to Task List" class="btn btn-success btn-simple btn-xs" ng-click="gotoList($row.id)">
                    <i style="font-size: 25px" class="pe-7s-note2"></i>
                </button>

                <button type="button" rel="tooltip" title="Edit Task List" class="btn btn-info btn-simple btn-xs" data-toggle="modal" data-target="#editTaskListModal" ng-click="setAsCurrent($row)">
                    <i style="font-size: 25px" class="pe-7s-edit"></i>
                </button>

                <button type="button" rel="tooltip" title="Remove Task List" class="btn btn-danger btn-simple btn-xs" ng-click="deleteTaskList($row.id)">
                    <i style="font-size: 25px" class="pe-7s-trash"></i>
                </button>

            </column>
        </dtable>
    </div>
</div>

<!-- Create modal -->
<div ng-include="'app/components/task-list-list-cmp/partials/_create-modal.html'"></div>
<!-- Edit Modal -->
<div ng-include="'app/components/task-list-list-cmp/partials/_edit-modal.html'"></div>