html {
  height: 100%;
}

body {
  background-image: url('/app/assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 5%;
}
